@import url('https://getbootstrap.com/2.3.2/assets/css/bootstrap.css');
@import url('https://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css');

@font-face {
    font-family: 'Rainer-Bold';
    font-display: swap;
    src: url('fonts/woff2/Rainerv04-Bold.woff2') format('woff2'), url('fonts/woff/Rainerv04-Bold.woff') format('woff');
  }

  @font-face {
    font-family: 'Rainer-v04';
    font-display: swap;
    src: url('fonts/woff2/Rainerv04.woff2') format('woff2'), url('fonts/woff/Rainerv04-Bold.woff') format('woff');
  }

  @font-face {
    font-family: 'Rainer-Medium';
    font-display: swap;
    src: url('fonts/woff2/Rainerv04-Medium.woff2') format('woff2'), url('fonts/woff/Rainerv04-Medium.woff') format('woff');
  }

  @font-face {
    font-family: 'Rainer-Hairline';
    font-display: swap;
    src: url('fonts/woff2/Rainerv04-Hairline.woff2') format('woff2'), url('fonts/woff/Rainerv04-Hairline.woff') format('woff');
  }


  @font-face {
    font-family: freight-display-pro, serif;
    font-weight: 400;
    font-style: normal;
    src: url('https://use.typekit.net/irk7lua.css')
  }

  *, *:before, *:after {
    box-sizing: border-box;
    /* cursor: url(../src/remote.svg), auto; */
  }

  html {
    cursor: url(../src/remote.svg), auto !important;
    width: 100vw;
    height: 100vh;
    animation: fade-in 1s cubic-bezier(.39,.575,.565,1.000); opacity: 1;
  }

  #loader { position: fixed; z-index: 200; top: 0; left: 0; width: 100vw; height: 100vh; background-color: white; display: flex; align-items: center; justify-content: center;;}
  #loader img {animation:heartbeat 3s ease-in-out infinite both; width: 40%; margin-left: -3%;    }
  #loader img {margin-left: -3%; }

  body {
    height: 100vh; 
    max-width: 100vw; 
    overflow: hidden; 
    margin: 0;
    padding: 0;
    
    background: linear-gradient(180deg, rgba(29,52,121,1) 0%, rgba(37,65,140,1) 8%, rgba(51,90,176,1) 15%, rgba(60,105,188,1) 23%, rgba(73,130,214,1) 30%, rgba(91,154,230,1) 40%, rgba(142,204,255,1) 51%);
    font-family: 'Rainer-Bold';
    top: 0; 
    left: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    
}
/* CURSOR CLASSES */
.link-remote:hover {cursor: url('../src/link-remote.svg'), auto!important;}
.off-remote:hover {cursor: url('../src/off-remote.svg'), auto!important;}
.scale-up-hover:hover {transform: scale(1.1);}

.navigation {width: 100%; height: 10%; display: flex; justify-content: space-around; align-items: center; text-align: center; z-index: 200; position: absolute; top: 0; left: 0; margin-top: 25px;}

#logo-span { display: flex; width: 70%; justify-content: center; align-items: baseline;}
#logo-span img {max-height: 75px;}
#logo-span:hover #haas-house-logo {animation: fade-in 0.1s cubic-bezier(.39,.575,.565,1.000); opacity: 1; }
#logo-span:hover #haas-house {animation:fade-out 0.1s ease-out both}
#haas-house-logo {opacity: 0; position: absolute;}

.about-link, .contact-link { width: 100px; margin: 5%;  letter-spacing: 5px;}



button {background: none; border: none; outline: none;}

a {font-family: 'Rainer-Medium', sans-serif; font-size: 45px;  color: white; cursor: url('../src/link-remote.svg'), auto!important;  }
/* text-shadow: 4px 4px 8px #000000 */
a:hover { color: white; font-size: 55px; text-decoration: none;}
p {font-family: freight-big-pro, serif; font-size: 1.25rem; line-height: 1.5rem}
h1 {font-family: 'Rainer-Bold', sans-serif; font-size: 100px; padding: 0; color: white; }
h2 {font-family: 'Rainer-v04', sans-serif; font-size: 2.25rem;  color: white; letter-spacing: 2px;  }
h3 {font-family: 'Rainer-v04', sans-serif; font-size: 60px; letter-spacing: 2px; color: white; text-shadow: 2px 2px 8px #000000}
h4 {font-size: 90%; font-family: 'Rainer-Hairline', sans-serif; line-height: 0px; letter-spacing: 1px; margin: 0; }h6 {font-family: 'Rainer-v04', sans-serif; font-size: 3rem; letter-spacing: 5px; color: white; }


.close-nav {font-size: 48px; position: absolute; text-align: center; right: 0px; top: 55px;  width: 50px; height: 50px; display: none; animation:tilt-in-fwd-tr .6s cubic-bezier(.25,.46,.45,.94) both}
.close-nav:hover {font-size: 58px; }

.palm {width: 35%; position: fixed; margin-top: -5%;}
.palm-left {float: left; left: -5%; animation: wobble-ver-left 150s both;}
.palm-right {float: right; right: -5%; animation: wobble-hor-bottom 300s both;}

.beach-spread {position: fixed; bottom: 0; width: 100vw; height: 40vh; background-image: url("../src/beach-spread.jpg"); background-size: cover }
.sand {height: 20vh; width: 100%; position: absolute; bottom: 0; background-image: url('../src/sand.png'); background-size: cover;}
.shadows {height: 21vh; width: 100%; position: absolute; bottom: 0; background-image: url('../src/shadows.png'); background-size: cover; background-repeat: no-repeat}

#tv-container {box-sizing: border-box; position: fixed; height: 80vh; top: 20vh; width: 100vw;  display: flex; align-items: center; justify-content: center;}
#tv-wrapper {box-sizing: border-box; height: 100%; width: 100%; display: flex; justify-content: center; align-items: flex-end; position: relative; background-image: url('../src/static-bg-3.gif'); background-size: contain; background-position: center bottom; background-repeat: no-repeat;}
#tv-contents-container { box-sizing: border-box; position: absolute; top: 0; left: 0; height: 100%; width: 100%; }
#tvs {box-sizing: border-box;  max-width: 100%; max-height: 100%;  }

/* WINDOWS  */

.window {position: fixed; top: 0; left: 0; height: 100vh; width: 100vw; background: white; display: none;  }
.window-wrapper {display: flex; align-items: center; justify-content: center; height: 85vh; margin-top: 15vh; width: 100%;}
.window-sec-wrapper {height: 70%; width: 100%; display: inline-flex; flex-direction: row; }
.window-sec {  width: 50%; padding: 2%; height: 100%; display: flex; align-items: center; }
#about-sec-left { margin-left: 10%; justify-content: flex-end;}
#about-sec-right {margin:0% 10% 0 0; justify-content: flex-start; }
.window-sec img { max-height: 100%; }

#contact-sec {justify-content: center;}

.contact-social-icons {height: 20%; width: 100%; padding-top: calc(30% + 100px);  display: flex; align-items: center; justify-content: center;}
.contact-social-icons img {width: 50px; padding: 10%;}
#mail-img:hover {transform: scale(1.25)}


/* TV BOXES  */
/* .tv-window {border: 3px solid lime; z-index: 300;} */
.tv-window h1 {font-size: 2rem;}
.tv-screen-wrapper {display: inline-flex; align-items: center; justify-content: center; height: 100%; }
.tv-screen {display: flex; align-items: center; justify-content: center; float: left; z-index: 10;}
.tv-screen-nav {height: 100%;  float: right; z-index: 10;   }


/* DESIGN */
#design {margin-left: 49.25%; position: absolute; height: 19%; width: 19%; }
#design-screen {height: 80%; width: 85%;}
#design-screen-nav { height: 60%; padding: 5%; float: right;  width: 100%; z-index: 10; display: none;}

#design-tv-guide {padding: 10% 5%;}
#design-target {max-height: 100%;}
#design-video {display: none; width: 100%; height: 100%;}
#design-screen-nav img:hover {transform: scale(1.25)}


/* FILM */
#film {top: 1.65vh; margin-left: 50.5%; position: absolute; height: 18%; width: 22%; padding: 0.5%; }
#film-screen:hover { background-image: url('../src/statics/countdown.gif'); background-size: 100% 100%;}
#film-screen {height: 90%; width: 96%; border-radius: 5px; }
#film-screen-nav { height: 92%;  padding: 40% 25%; display: none;}
#film-screen-nav img:hover {transform: scale(1.1)}
#film-iframe {border-radius: 3px;}

/* PHOTO */
#photo {margin-bottom: 5%; top: 1%; left: 27%; position: absolute; height: 25%; width: 22%; padding: 0.7% 0.5%; }
#photo-screen {height: 98%; width: 98%;  border-radius: 15px;}
#photo-target {max-height: 100%;}
#photo-screen-nav {width: 100%; height: 100%; padding: 40% 10%; display: none;flex-direction: column; text-align: center;}
#photo-screen-nav img:hover {transform: scale(1.25)}
.photo-toggle {z-index: 200;}
#photo-tv-guide {padding: 10% 10%;}




/* TV GUIDE  */

.tv-guide {width: 100%; height: 100%;    }
.tv-guide-close-bar {width: 100%; height: 10%; border-bottom: 1px solid black; background: -webkit-linear-gradient(top, #21277A, #3b63bb); }
.tv-guide-close-bar img {height:10px; margin: 0; float: right; padding: 1% 2%; }

.tv-guide-top {height: 40%; width: 100%; border-bottom: 1px solid black;  background: -webkit-linear-gradient(top, #21277A, #3b63bb);}
.tv-guide-title { color: white; width: 100%; height: 50%; padding: 0% 2%; line-height: 0; border-bottom: 1px solid black; display: inline-flex; justify-content: space-between; align-items: center;}
.tv-guide-title h1 {font-size: 80%!important;}
.tv-guide-description {height: 45%; width: 100%; font-family: freight-big-pro, serif; color: white; display: flex; align-items: center; justify-content: center;}
.tv-guide-description span {display: none; font-size: 5px}

.tv-guide-bottom { height: 50%; background: black; width: 100%; padding: 2% 10%; }
.tv-guide-details {width: 70%; height: 100%; float: left; background: -webkit-linear-gradient(top, #21277A, #3b63bb); padding: 0!important;}
.tv-guide-photo {height: 100%; width: 30%; float: right; display: flex; align-items: center; justify-content: center; border-left: 1px solid black;}
.tv-guide-photo img {height: 60%;}

.channel-style {width: 100%; height: 30%; border: solid 1px black; background: #21277A; color: white; display: flex; align-items: center; justify-content: center; }
.channel-style:hover {border: 1px solid gray; background: #3b63bb; }
.channel-style h4 { font-size: 0.8vh;  margin: 0; padding: 0; font-family: 'Rainer-v04', sans-serif;}

.tv-guide-btn{font-size: 8px; width: 90%; margin: 0% 5%; line-height: 0; letter-spacing: 0;  padding: 15% 0px; text-align: center; background: yellow; border-style: outset; border: 1px outset ; color: black;}
.tv-guide-btn:hover {border: 1px inset; background-color: gold;}
.project-description {width: 95%; background: gray; color: white; font-size: 0.65rem!important; font-family: 'Rainer-v04', sans-serif; letter-spacing: 0.25px; padding: 3px; margin: 10% 2.5%; line-height: 0.75rem; text-align: left;}

@media only screen and (max-width: 900px) {
    .palm {height: 40%; width: auto;}
    .palm-left {margin-left: 0%;}
    .palm-right {margin-right: 0%;}
    .window-sec-wrapper {display: block; flex-direction: column; height: 100%; }
    .window-sec {height: 50%; padding:  2% 5%; }
    #about-sec-left {width: 100%!important; margin-left: 0; justify-content: center;  }
    #about-sec-right {width: 100%!important;  margin-right: 0;  justify-content: center;}
    #tv-container {width: 160%; margin-left: -30%;}
    h1 {font-size: 56px;}
    a {font-size: 32px!important;}
    #tv-container {padding-bottom: 25%; height: 90vh; }
    
  }

  
  

  /* PALM ANIMATIONS */
@keyframes wobble-ver-left{0%,100%{-webkit-transform:translateY(0) rotate(0);transform:translateY(0) rotate(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateY(-30px) rotate(-6deg);transform:translateY(-30px) rotate(-6deg)}30%{-webkit-transform:translateY(15px) rotate(6deg);transform:translateY(15px) rotate(6deg)}45%{-webkit-transform:translateY(-15px) rotate(-3.6deg);transform:translateY(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateY(9px) rotate(2.4deg);transform:translateY(9px) rotate(2.4deg)}75%{-webkit-transform:translateY(-6px) rotate(-1.2deg);transform:translateY(-6px) rotate(-1.2deg)}}
@keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}

.fade-in{-webkit-animation:fade-in 2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in{0%{opacity:0.5}25%{opacity:0.62}50%{opacity:0.74} 75% {opacity:0.86}100%{opacity:1}}@keyframes fade-in{0%{opacity:0.5}25%{opacity:0.62}50%{opacity:0.74} 75% {opacity:0.86}100%{opacity:1}}

.fade-out{-webkit-animation:fade-out 1s ease-out both;animation:fade-out 1s ease-out both}
@-webkit-keyframes fade-out{0%{opacity:1}100%{opacity:0}}@keyframes fade-out{0%{opacity:1}100%{opacity:0}}

/* CONTACT WINDOW ENTRANCE ANIMATION */
.tilt-in-fwd-tr{-webkit-animation:tilt-in-fwd-tr .6s cubic-bezier(.25,.46,.45,.94) both;animation:tilt-in-fwd-tr .6s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes tilt-in-fwd-tr{
  0%{-webkit-transform:rotateY(20deg) rotateX(35deg) translate(-100%,-100%) skew(-35deg,10deg);transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);opacity:0}
  100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}
@keyframes tilt-in-fwd-tr{0%{-webkit-transform:rotateY(20deg) rotateX(35deg) translate(-100%, -100%) skew(-35deg,10deg);transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);opacity:0}
100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}

  /* ABOUT WINDOW ENTRANCE ANIMATION */
.tilt-in-fwd-tl{-webkit-animation:tilt-in-fwd-tl .6s cubic-bezier(.25,.46,.45,.94) both;animation:tilt-in-fwd-tl .6s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes tilt-in-fwd-tl{
  0%{-webkit-transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);opacity:0}
  100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(-100%,-100%) skew(0deg,0deg);
    transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}
   
@keyframes tilt-in-fwd-tl{
  0%{-webkit-transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);
    transform:rotateY(-20deg) rotateX(35deg) translate(-100%,-100%) skew(35deg,-10deg);opacity:0}
  100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);
    transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}

 /* ABOUT WINDOW EXIT ANIMATION  */
 .slide-out-br{-webkit-animation:slide-out-br .5s cubic-bezier(.55,.085,.68,.53) both;animation:slide-out-br .5s cubic-bezier(.55,.085,.68,.53) both}
 @-webkit-keyframes slide-out-br{0%{-webkit-transform:translateY(0) translateX(0);transform:translateY(0) translateX(0);opacity:1}100%{-webkit-transform:translateY(1000px) translateX(1000px);transform:translateY(1000px) translateX(1000px);opacity:0}}@keyframes slide-out-br{0%{-webkit-transform:translateY(0) translateX(0);transform:translateY(0) translateX(0);opacity:1}100%{-webkit-transform:translateY(1000px) translateX(1000px);transform:translateY(1000px) translateX(1000px);opacity:0}}

 /* CONTACT WINDOW EXIT ANIMATION */
.slide-out-bl{-webkit-animation:slide-out-bl .5s cubic-bezier(.55,.085,.68,.53) both;animation:slide-out-bl .5s cubic-bezier(.55,.085,.68,.53) both}
@-webkit-keyframes slide-out-bl{0%{-webkit-transform:translateY(0) translateX(0);transform:translateY(0) translateX(0);opacity:1}100%{-webkit-transform:translateY(1000px) translateX(-1000px);transform:translateY(1000px) translateX(-1000px);opacity:0}}@keyframes slide-out-bl{0%{-webkit-transform:translateY(0) translateX(0);transform:translateY(0) translateX(0);opacity:1}100%{-webkit-transform:translateY(1000px) translateX(-1000px);transform:translateY(1000px) translateX(-1000px);opacity:0}}@-webkit-keyframes slide-out-bl{0%{-webkit-transform:translateY(0) translateX(0);transform:translateY(0) translateX(0);opacity:1}100%{-webkit-transform:translateY(1000px) translateX(-1000px);transform:translateY(1000px) translateX(-1000px);opacity:0}}@keyframes slide-out-bl{0%{-webkit-transform:translateY(0) translateX(0);transform:translateY(0) translateX(0);opacity:1}100%{-webkit-transform:translateY(1000px) translateX(-1000px);transform:translateY(1000px) translateX(-1000px);opacity:0}}

.bounce-top{-webkit-animation:bounce-top 2s both;animation:bounce-top 2s both}
@-webkit-keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}@keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}


.heartbeat{-webkit-animation:heartbeat 1.5s ease-in-out infinite both;animation:heartbeat 1.5s ease-in-out infinite both}
@-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}




