@font-face {
    font-family: 'Rainer-Bold';
    font-display: swap;
    src: url('fonts/woff2/Rainerv04-Bold.woff2') format('woff2'), url('fonts/woff/Rainerv04-Bold.woff') format('woff');
  }

  @font-face {
    font-family: 'Rainer-Medium';
    font-display: swap;
    src: url('fonts/woff2/Rainerv04-Medium.woff2') format('woff2'), url('fonts/woff/Rainerv04-Medium.woff') format('woff');
  }

  @font-face {
    font-family: 'Rainer-Hairline';
    font-display: swap;
    src: url('fonts/woff2/Rainerv04-Hairline.woff2') format('woff2'), url('fonts/woff/Rainerv04-Hairline.woff') format('woff');
  }



.nav_item h1 {
    font-family: 'Rainer-Bold', sans-serif;
    font-size: 9vw;
    color: black;
    margin: 0;
}

.nav_item a {
    font-family: 'Rainer-Medium', sans-serif;
    font-size: 5vw;
    color: white;
}

.tv-link {
    font-size: 6vw!important;
    z-index: 200; position: fixed;
    text-decoration: none;
    color: black;
}

.tv-link:hover {
    cursor: pointer; 
    color: white;
}

body {
    height: 100vh; 
    max-width: 100vw; 
    overflow: hidden; 
    margin: 0;
    padding: 0;
    background: #2a2a2a;

    background-size: cover;
    font-family: 'Rainer-Bold';
  
}

button {background: none; border: none; outline: none;}
button:hover{cursor: pointer; transform: scale(1.15)}


#navigation_wrapper {
    width: 100%; 
    height: 250px; 
    display: flex; 
    justify-content: center;
    align-items: center;

}

.nav_item {
    float: left; 
    text-align: center;
    margin: 0;
    padding: 0;
}
#mobile_nav_button {
    position: fixed; 
    top: 25px; 
    left: 25px; 
    z-index: 10;

}

.mobile_nav_items {
    margin: 25px 50px;
    text-align: center;
    height: 200px; 
    font-size: 10vw;   
}

#mobile_nav_wrapper {
    position: fixed; 
    z-index: 9;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 250px; 
    background: white; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

#hamburger_close {display: none;}

#contact_nav_item {width: 30%;}
#logo_nav_item {width: 40%;}
#about_nav_item {width: 30%;}

#television_container {
    display: flex; 
    justify-content: center;
    align-content: center;
    height: 100%; 
    width: 100%;

    bottom: 0;
}

#television_wrapper {

    width: 100%; 
    height: 80%;
    bottom: 0;
    position: absolute;
    max-width: 1500px;
    background-size: 130%;
    background-position-y: 0%;
    background-repeat: no-repeat;

}

#tv-grid-container {

    width: 100%; 
    min-width: 900px;
    position: fixed;
    left: 0;
    margin-top: 250px;
    bottom: 0;
    max-width: 1800px;
    max-height: 80%;
}


  * {
    box-sizing: border-box;
  }

  
  .col {
    height: 100%;
    display: flex; /* required */
    flex-flow: row nowrap; /* required */

  }

  .col40 {
      flex: 30%;
      
  }

  .col20 {
    flex: 5%;

}

  .col img {width: 100%; top: 0; flex: none; box-sizing: border-box; 
    }

    .static-1 img {
        background: url('../src/static-1.gif');
    background-size: 90%, 100%; 
    background-repeat: no-repeat; 
    background-position-x: center;
    background-position-y: 10%;

    }

    .static-2 img {
    background: url('../src/static-2.gif');
    background-size: 90%, 100%; 
    background-repeat: no-repeat; 
    background-position-x: center;
    background-position-y: 10%;

    }

.static-3 img {
    background: url('../src/static-3.gif');
    background-size: 90%, 90%; 
    background-repeat: no-repeat; 
    background-position-x: center;
    background-position-y: 20%;

    }

.static-4 img {
    background: url('../src/vhs.gif');
    background-size: 90%, 90%; 
    background-repeat: no-repeat; 
    background-position-x: center;
    background-position-y: 20%;

    }
    .static-5 img {
        background: url('../src/static-5.gif');
        background-size: 90%, 90%; 
        background-repeat: no-repeat; 
        background-position-x: center;
        background-position-y: 20%;
    
        }

    .greenscreen img {
        background-color: lime;
        background-size: 50%, 50%; 
        background-repeat: no-repeat; 
        background-position-x: center;
        background-position-y: 10%;
    
        }

 #photos-window {
     width: 90%; 
     left: 5%; 
     position: fixed; 
     top: 300px;
     bottom: 5%;
     background: white; 
    display: none;
    padding: 20px;
 }


  .col20 {
      flex: 20%;
  }

  
  .tv-grid-bottom {
      width: 100%;
      display: flex; 
      justify-content: space-between;
  }

  .tv-grid-bottom img {
      width: 100%; 

  }

  .tv-grid-middle {
    margin-left: 5%;
    width: 90%;
    display: flex; 
    justify-content: space-between;
}


.tv-grid-middle img{
    width: 100%;
    z-index: 2;
  }

.tv-grid-top {
    margin-left: 10%;
    width: 80%;
    display: flex; 
    justify-content: space-between;
}



.mobile_show {display: none;}

@media only screen and (max-width: 500px) {
    .mobile_show {display: block;}
    .mobile_hide {display: none;}
    #logo_nav_item {width: 60vw;}
    .nav_item h1 {font-size: 15vw !important;}
  }

.fade-in{-webkit-animation:fade-in 2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 2s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in{0%{opacity:0.5}25%{opacity:0.62}50%{opacity:0.74} 75% {opacity:0.86}100%{opacity:1}}@keyframes fade-in{0%{opacity:0.5}25%{opacity:0.62}50%{opacity:0.74} 75% {opacity:0.86}100%{opacity:1}}
