@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

* {box-sizing: border-box; font-family: 'Almarai', sans-serif; color: var(--offblack);}
:root {
    --gold: #FADD60;
    --tan: #F0EAD6;
    --darktan: #949188;
    --offblack: #5C594B;
    --offwhite: #FFFBF8;
}
html {max-width: 100vw; overflow-x: clip;}
body {width: 100%; margin: 0px; background:var(--offwhite)}
#homeHero{background-image: url('assets/bg\(1\).png'); background-size: cover; background-position: center; background-repeat: no-repeat;}
#top-nav {height: 80px; width: 100vw; top: 0; left: 0; position: fixed;}
.standard-nav #top-nav {background-color: var(--offwhite);}
#navigation {height: 80px; margin-bottom: 25px; z-index: 999999999999999;}
#navigation-bar {visibility: hidden; width: 100%; height: calc(100% - 140px);}
.home-nav .nav-logo {display: none;}

.nav-logo {width: 200px; z-index: 50000000000; }
.nav-link-wrapper { height: 80%;}
.nav-link {color: var(--tan); text-decoration: none; font-weight: 700; font-size: 48px!important; margin: 2.5px 0}
.nav-link:hover {color: var(--darktan)}

.nav-header {width: 100vw; max-height: 140px;}

#menuButton {border: unset;  background: unset; font-size: 68px; transform: rotate(90deg); z-index: 4000000; max-height: 70px; max-width: 70px;}
#menuButton:hover {color: var(--tan)}
.menu-layer {color: var(--gold)!important;}

button {background: var(--tan); border: unset; color: black; padding: 5px 10px; font-size: 24px;}

.full-width {width: 100%;}

.flex-center-center {display: flex; align-items: center; justify-content: center; flex:1}
.flex-center-end {display: flex; align-items: center; justify-content: flex-end; flex:1}
.flex-center-start {display: flex; align-items: center; justify-content: flex-start; flex:1}
.flex-center-spacebetween {display: flex; align-items: center; justify-content: space-between; flex:1}
.flex-center-spaceevenly {display: flex; align-items: center; justify-content: space-evenly; flex:1}

.flex-start-center {display: flex; align-items: flex-start; justify-content: center; flex:1}
.flex-start-start {display: flex; align-items: flex-start; justify-content: flex-start; flex:1;}
.flex-start-end {display: flex; align-items: flex-start; justify-content: flex-end; flex:1;}
.flex-start-spacebetween {display: flex; align-items: start; justify-content: space-between; flex:1;}
.flex-start-spaceevenly {display: flex; align-items: start; justify-content: space-evenly; flex:1;}

.flex-end-center {display: flex; align-items: flex-end; justify-content: center; flex:1;}
.flex-end-start {display: flex; align-items: flex-end; justify-content: flex-start; flex:1;}
.flex-end-end {display: flex; align-items: flex-end; justify-content: flex-end; flex:1;}
.flex-end-spacebetween {display: flex; align-items: center; justify-content: space-between; flex:1;}
.flex-end-spaceevenly {display: flex; align-items: center; justify-content: space-evenly; flex:1;}

.no-flex-grow {flex-grow: unset;}

#homeHero {overflow: hidden; height: 100vh; }
.vimeo-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
 }
 .vimeo-wrapper iframe {
    width: 140vw;
    height: calc((9 / 16) * 140vw); /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 213vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
.hero-content {height: 70vh; width: 100%;}


.dark-overlay {background: rgba(0,0,0,0.15); backdrop-filter: blur(1px); width: 100%; height: 100%;}
.basic-padding {padding: 20px;}

.logo {
    width: 75%; max-width: 700px; min-width: 200px;
}

.flex-column {flex-direction: column;}
.flex-wrap {flex-wrap: wrap}

h1 {
    font-size: clamp(36px, 2vw + 1.2rem, 48px);
  line-height: clamp(40px, 2vw + 1.3rem, 52px)
}

h2 {
    font-size: clamp(2rem, 1.5vw + 1rem, 2.5rem);
  line-height: clamp(2.2rem, 1.5vw + 1.2rem, 2.7rem);
}



p {font-size: 22px;}
p a {color: black;}

.hover:hover {cursor: pointer; transform: scale(1.05);}
a:hover {transform: scale(1.01); text-decoration: underline;}
.hover {cursor: pointer;}
.box-shadow {box-shadow: 2px 2px 2px rgba(0,0,0,0.5);}
.text-shadow {text-shadow: 0 0 2px rgba(0,0,0,0.5);}
.centered-text {text-align: center!important;}
.white-text {color: white!important;}

.standard-container-padding {padding: 25px;}
.icon {height: 25px;}
.active-link {text-decoration: underline; color: var(--darktan)}
.white-overlay {width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; z-index: 300000; background: var(--offwhite); pointer-events: none;}
.invisible-link {text-decoration: none; color: inherit;}
#designElixirCredits {text-decoration: none; font-size: 12px; color: black;}

.white-gradient {
  background: rgb(255, 251, 248);
  background: -moz-linear-gradient(180deg, rgba(255, 251, 248, 0.971) 51%, rgba(255, 251, 248, 0.75) 73%, rgba(255, 251, 248, 0.5) 85%, rgba(255, 251, 248, 0.25) 94%, rgba(255, 251, 248, 0.05) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255, 251, 248, 0.971) 51%, rgba(255, 251, 248, 0.75) 73%, rgba(255, 251, 248, 0.5) 85%, rgba(255, 251, 248, 0.25) 94%, rgba(255, 251, 248, 0.05) 100%);
  background: linear-gradient(180deg, rgba(255, 251, 248, 0.971) 51%, rgba(255, 251, 248, 0.75) 73%, rgba(255, 251, 248, 0.5) 85%, rgba(255, 251, 248, 0.25) 94%, rgba(255, 251, 248, 0.05) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFBF8",endColorstr="#FFFBF8",GradientType=1); 
}


.single-column {width: 50%;}
@media screen and (max-width: 700px) {
  .photo-section {flex-direction: column;}
  .photo-categories { align-items: center; max-width: unset!important; width: 100%; padding-bottom: 15px;}
  .photo-categories-buttons {flex-direction: row;  width: 100%; justify-content: space-evenly;}
  .photo-categories button {padding: 0px 15px;}
  .category-button {width: calc(100% + 6px)}
  .photo-container {width: 100%;}
  .photo {width: 100%; max-width: unset!important; min-width: unset;}
  .selected:hover {margin: 0!important;}

  .bio-wrapper {flex-wrap: wrap;}
  .bio-image {padding-left: 0px!important;}
  .double-column {flex-direction: column;}
  .single-column {width: 100%;}
}

.bio-image {padding-right: 25px; width: 100%; max-width: 400px;}
/* Photo Page */

.photo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    height: 100%;
}

.photo-container img {
  width: 100%; padding: 2.5%; cursor: pointer;
}
.photo-container img:hover {
  transform: scale(1.01)!important; transition: 0.3s;
}
.hidden {
  opacity: 0;
  display: none;
}

.category-button {font-size: 16px; font-weight: 600; margin-right: 10px; background: var(--gold);}
.category-button.inactive {font-size: 16px; margin-right: 10px; background: var(--tan); font-weight: 200; }
.photo-container img.active {display: block;}
.photo-container-wrapper {width: 100%;}

.photo {
    z-index: 1;
    min-height: 300px;
    height: 25vw;
    border-radius: 5px;
    transition: transform 0.3s;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.lightbox-photo {height: 100%;}
.lightbox {display: none; }
.expanded {transition: transform 0.3s; width: 90%; min-width: unset!important; max-width: unset!important; height: 85vh; z-index: 99999999999!important; position: fixed; top: 10vh;  background-size: contain; background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); }
.photo.expanded:hover {
    transform: none; /* Override the hover effect */
}
.photo:hover {
    transform: scale(1.05);
}
.photo-section {width: 100%; min-height: 85vh; margin-top: 50px }
.category-button:hover {font-weight: 800;}
.category-container {position: fixed; top: 80px; z-index: 3; width: 100%;}

.selected {font-weight: 800!important; text-decoration: underline;}

.show {display: block; -webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}
.hide {display: none; -webkit-animation:fade-out 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-out 1.2s cubic-bezier(.39,.575,.565,1.000) both}

.closer-button {display: none; font-size: 24px; border: unset; padding: 15px 25px; background: var(--offwhite); cursor: pointer; border-radius: 25px;}
.expanded .closer-button {display: block!important;}
/* Animations */
.fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}
@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

.fade-out {-webkit-animation:fade-out 1s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-out 1s cubic-bezier(.39,.575,.565,1.000) both}

@-webkit-keyframes fade-out{0%{opacity:1; display: inherit;} 100%{opacity:0}}
@keyframes fade-out{0%{opacity:1}100%{opacity:0; display: none;}}


#menuLayer1.animate {animation: menuLayer1AnimationClose 0.5s forwards;}
#menuLayer2.animate {animation: menuLayer2AnimationClose 0.5s forwards;}
#menuLayer3.animate {animation: menuLayer3AnimationClose 0.5s forwards;}
#menuLayer1.animateOpen {animation: menuLayer1AnimationClose 0.5s backwards;}
#menuLayer2.animateOpen {animation: menuLayer2AnimationClose 0.5s backwards;}
#menuLayer3.animateOpen {animation: menuLayer3AnimationClose 0.5s backwards;}

@keyframes menuLayer1AnimationClose {
    0% {transform: none;}
    100% {transform: rotate(45deg);}
}

@keyframes menuLayer2AnimationClose {
    0% {
        display: block;
        opacity: 1;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes menuLayer3AnimationClose {
    0% {
        transform: none;
        margin-left: unset;
    }
    100% {
        transform: rotate(-45deg);
        margin-left: -25px;
    }
}

@keyframes menuFill {
    0% {
        height: 80px;
        background-color: rgba(255,255,255,0);
    }
    100% {
      height: 100vh;
       background-color: rgba(255,255,255,1);
    }
}

.menuFill {
    animation: menuFill 0.5s forwards;
}


/* Video Carousel */

  .carousel-item:hover {
  transform: scale(1.01)!important;
  cursor: pointer;
}

.media-controller {
    height: 80vh!important;
    width: 100%;
  }

  #lightbox {display: none; height: 100vh; background: rgba(255,255,255,0.9); backdrop-filter: blur(5px); width: 100vw; position: fixed; top: 0; left: 0; z-index: 3; }
  #lightbox-viewer {height: 75vh;  width: 95vw; margin-left: 2.5vw; margin-top: 100px; background-size: contain; background-position: center; background-repeat: no-repeat;}
  #lightbox-text {
    padding: 15px;
  }

  .film-strip-container { margin: 2vw; width: 29vw; height: 25vw; cursor: pointer; background-image: url('assets/film-strip2.png'); background-size: 100% 100%; background-position: center center;}
  .film-strip-container:hover {transform: rotate(1deg);}
  .film-strip-container:hover .film-strip {opacity: 1; transition-duration: 0.3s;}

  .film-strip { width: 100%; height: 100%; opacity: 0.75; }
  .film-label {height: 15.5%; width: 100%;}
  .film-label h6 {font-size: 12px; line-height: 0; margin: 9px 35px; color: white!important;} 
  .film-play {width: 94%; height: 69%; background-size: contain; background-position: center center; background-repeat: no-repeat; }

  @media screen and (max-width: 800px) {
    .film-strip-container {width: 45vw; height: 35vw;}
    .half-div-container {flex-direction: column;}
    .half-div {width: 100%!important;}
  }

  @media screen and (max-width: 500px) {
    .film-strip-container {width: 95vw; height: 75vw;}
    .film-label h6 {font-size: 14px; margin: 10px 45px; color: rgba(255,255,255,0.5)!important;} 
  }

  form {font-family: 'Almarai', sans-serif!important; width: 75%; }
  label {font-size: 16px; line-height: 14px; padding: 0; margin: 20px 0 10px 0; font-weight: 600;}
  input {padding: 10px; font-size: 14px; width: 100%;}
  textarea {padding: 10px; font-size: 14px; height: 150px; width: 100%;}
  .form-button {margin-top: 20px; padding: 10px;}

  .half-div {width: 50%;}